<%= form_with model: @user, url: user_registration_path, method: :patch, class: 'registration-main', local: true do |f| %>
  <div class="container">
    <div class="head">
      <h2>会員情報変更</h2>
    </div>
    <%= render 'devise/shared/error_messages', model: f.object %>
    <%= f.text_field :nickname, placeholder:"ニックネーム（必須）", maxlength:"40", class: "input-field" %>
    <div class="form-name">
      <%= f.text_field :last_name, class:"input-name", id:"last-name", placeholder:"苗字（必須）(全角)", class: ", input-name-field" %>
      <%= f.text_field :first_name, class:"input-name", id:"first-name", placeholder:"名前（必須）(全角)", class: ", input-name-field" %>
    </div>
    <div class="form-name">
      <%= f.text_field :last_name_kana, class:"input-name", id:"last-name-kana", placeholder:"苗字（必須）（カナ）", class: ", input-name-field" %>
      <%= f.text_field :first_name_kana, class:"input-name", id:"first-name-kana", placeholder:"名前（必須）（カナ）", class: ", input-name-field" %>
    </div>
    <div class="message">Message Sent</div>
    <%= f.submit "変更する" ,class:"button", onClick: "return confirm('会員情報を変更してよろしいですか？');" %>
  </div>
<% end %>