<div class="mypage-wrapper">
  <%= render 'shared/mypage-sidebar' %>
  <div class="mypage-contents">
    <div class="right-content">
      <h1>いいねしたトレード一覧</h1>
      <div class="trade-lists">
        <% @user.likes.each do |like| %>
          <%= link_to picture_path(like) do %>
            <div class="sample2">
              <%= image_tag like.picture.images.first %>
              <div class="mask">
                <div class="caption"><%= like.picture.name %></div>
                <div class="mask-icon">
                  <div class="caption"><i class="far fa-comment-alt"></i><%= like.picture.comments.count %></div>
                  <div class="caption">
                    <% if user_signed_in? && current_user.liked_by?(like.picture.id) %>
                      <i class="fas fa-heart red-heart"></i>
                    <% else %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                    <span><%= like.picture.likes.count %></span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>