<div class="mypage-wrapper">
  <%= render 'shared/mypage-sidebar' %>
  <div class="mypage-contents">
    <div class="right-content">
      <h1>トレード出品一覧</h1>
      <div class="trade-lists">
        <% @pictures.sort.reverse.each do |picture| %>
          <%= link_to picture_path(picture) do %>
            <div class="sample2">
              <%= image_tag picture.images.first %>
              <% if picture.trading.nil? %>
                <div class="mask">
                  <div class="caption"><%= picture.name %></div>
                  <div class="mask-icon">
                    <div class="caption"><i class="far fa-comment-alt"></i><%= picture.comments.count %></div>
                    <div class="caption">
                      <% if user_signed_in? && current_user.liked_by?(picture.id) %>
                        <i class="fas fa-heart red-heart"></i>
                      <% else %>
                        <i class="fas fa-heart"></i>
                      <% end %>
                      <span><%= picture.likes.count %></span>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="mask">
                  <div class="caption"><span class='trade'>取引が終了しました</span></div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @pictures %>
    </div>
  </div>
</div>