<header>
  <div class="header-contents">
    <div class="head-title">
      <h2><%= link_to 'TRADE APP', root_path %></h2>
    </div>
    <div class="head-contents">
      <% if user_signed_in? %>
        <p><%= current_user.nickname %>さん。こんにちは</p>
        <%= link_to 'トレードする', new_picture_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: "logout" %>
        <%= link_to '新規登録', new_user_registration_path %>
      <% end %>
    </div>
  </div>
</header>