<%#= render "shared/second-header"%>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
  <div class="container">
      <div class="head">
        <h2>ログイン</h2>
      </div>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <%= f.email_field :email, placeholder:"メールアドレス", autofocus: true, class: "input-field" %>
      <%= f.password_field :password, placeholder:"パスワード", class: "input-field" %>
      <div class="message">Message Sent</div>
      <%= f.submit "ログイン" ,class:"button" %>
    </div>
  </div>
<% end %>






<%#= render "shared/second-footer"%>