<%= form_with model: @picture, local: true do |f| %>
  <div class="picture-container">
    <div class="head">
      <h2>トレード情報の入力</h2>
    </div>
    <%= render 'devise/shared/error_messages', model: f.object %>
    <div class="img-upload">
      <div class="weight-bold-text">
        写真画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload" id="image-preview">
        <p>
          クリックしてファイルをアップロード（画像は５枚まで選択出来ます）
        </p>
        <%= f.file_field :images, name: 'picture[images][]', multiple: true, id:"item-image" %>
        <div class="choice-box">
          <i class="fas fa-camera"></i>
        </div>
      </div>
    </div>
    <%= f.text_field :name, placeholder:"商品名（必須）", maxlength:"40", class: "input-field" %>
    <%= f.text_area :info, placeholder:"トレードの条件と写真の保存状況などを書いてください", autofocus: true, class: "input-field" %>
    <%= f.text_field :member_name, placeholder:"メンバー名（必須）", class: "input-field" %>
    <div class="form-group">
      <div class="form-label">グループ名</div>
      <%= f.collection_select(:group_id, Group.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
    <div class="form-group">
    <div class="form-label">商品の状態</div>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
    </div>
    <div class="form-group">
    <div class="form-label">写真のカテゴリー</div>
      <%= f.collection_select(:position_id, Position.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
    </div>
    <% if request.url.match(/new/) %>
      <%= f.submit "登録する" ,class:"submit-button", onClick: "return confirm('登録してよろしいですか？');" %>
    <% else %>
      <%= f.submit "変更する" ,class:"submit-button", onClick: "return confirm('変更してよろしいですか？');" %>
    <% end %>
    <%= link_to '前に戻る', :back, class: "back-button" %>
  </div>
<% end %>