<%= render 'shared/header' %>

<div class="wrapper">
  <div class="main-contents">
    <% @pictures.each do |picture| %>
      <%= link_to edit_picture_path(picture) do %>
      <div class="pictures">
        <div class="piuture-image">
          <%= image_tag picture.images.first %>
        </div>
        <div class="picture-text">
          <p><%= picture.name %></p>
          <div class="font-btn">
            <i class="far fa-comment-alt"></i>
            <span>0</span>
          </div>
          <div class="font-btn">
            <i class="far fa-heart"></i>
            <span>0</span>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
