<div id="page_top"><a href="#"></a></div>
<div class="search-wrapper">
  <%= render 'shared/search-sidebar' %>
  <div class="search-contents">
    <div class="right-contents search-right-content">
      <% if @results.present? %>
        <h1>検索結果</h1>
      <% else %>
        <h1>検索結果はありません</h1>
      <% end %>
      <div class="trade-lists">
        <% @results.each do |result| %>
          <%= link_to picture_path(result) do %>
            <div class="sample2">
              <%= image_tag result.images.first %>
                <% if result.trading.nil? %>
                  <div class="mask">
                    <div class="caption"><%= result.name %></div>
                    <div class="mask-icon">
                      <div class="caption"><i class="far fa-comment-alt"></i><%= result.comments.count %></div>
                      <div class="caption">
                        <% if user_signed_in? && current_user.liked_by?(result.id) %>
                          <i class="fas fa-heart red-heart"></i>
                        <% else %>
                          <i class="fas fa-heart"></i>
                        <% end %>
                        <span><%= result.likes.count %></span>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="mask">
                    <div class="caption"><span class='trade'>取引が終了しました</span></div>
                  </div>
                <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @results %>
    </div>
  </div>
</div>