<div id="page_top"><a href="#"></a></div>
<div class="item-detail-wrapper">
  <%= render 'shared/sidebar' %>
  <div class="item-detail-contents">
    <h1><%= simple_format(@picture.name) %></h1>
    <div class="item-images">
      <% @picture.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    </div>
    <% if user_signed_in? && @picture.user.id == current_user.id %>
      <div class="edit-delete">
        <div class="edit-btn">
        <%= link_to '編集', edit_picture_path(@picture) %>
        </div>
        <div class="delete-btn">
          <%= link_to '削除', picture_path(@picture), method: :delete, onClick: "return confirm('本当に削除してよろしいですか？');" %>
        </div>
      </div>
    <% end %>
    <div class="good-btn" id="good-button">
      <%= render 'picture', picture: @picture %>
    </div>
    <div class="item-detail-info">
      <table class="item-detail-table">
        <tr>
          <th class="detail-title">トレード希望者</th>
          <td class="detail-value"><%= @picture.user.nickname %>さん</td>
        </tr>
        <tr>
          <th class="detail-title">トレード条件</th>
          <td class="detail-value"><%= simple_format(@picture.info) %></td>
        </tr>
        <tr>
          <th class="detail-title">出品メンバー（グループ）</th>
          <td class="detail-value"><%= @picture.member_name %></td>
        </tr>
        <tr>
          <th class="detail-title">ポジション</th>
          <td class="detail-value"><%= @picture.position.name %></td>
        </tr>
        <tr>
          <th class="detail-title">商品状態</th>
          <td class="detail-value"><%= @picture.status.name %></td>
        </tr>
        <tr>
          <th class="detail-title">出品日</th>
          <td class="detail-value"><%= @picture.created_at %></td>
        </tr>
      </table>
    </div>

    <% if user_signed_in? %>
      <div class="comment-area">
        <%=form_with model: [@picture, @comment], method: :post, local: true do |f| %>
          <%= f.text_area :text, class: "comment-text", placeholder: "コメントする" %>
          <button type="submit" class="comment-btn">
            <i class="fas fa-comment-alt"></i>
            コメントする
          </button>
        <% end %>
        <div class="comments-area">
          <% @comments.each do |comment| %>
            <% if comment.user_id != current_user.id %>
              <div class="balloon-left">
                <p><span class="comment-name"><%= comment.user.nickname %></span>さん</p>
                <p><%= simple_format(comment.text) %></p>
              </div>
            <% else %>
              <div class="balloon-right">
                <p><%= simple_format(comment.text) %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="comments-area">
        <%= link_to 'コメントするにはログインしてください', new_user_session_path, class: 'login-btn' %>
      </div>
    <% end %>
  </div>
</div>