<div id="page_top"><a href="#"></a></div>
<%= form_with model: @address, url: user_address_path(current_user, @address.id), class: 'registration-main', local: true do |f| %>
  <div class="container">
    <div class="head">
      <% if request.url.match(/new/) %>
        <h2>配送先登録</h2>
      <% else %>
        <h2>配送先変更</h2>
      <% end %>
    </div>
    <%= render 'devise/shared/error_messages', model: f.object %>
    <%= f.text_field :postal_code, placeholder:"郵便番号（必須）", maxlength:"40", class: "input-field" %>
    <div class="form-group">
      <div class="prefec-label">都道府県</div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-prefecbox", id:"item-category"}) %>
    </div>
    <%= f.text_field :city, placeholder:"市区町村（必須）", autofocus: true, class: "input-field" %>
    <%= f.text_field :house_number, placeholder:"番地（必須）", autofocus: true, class: "input-field" %>
    <%= f.text_field :building_name, placeholder:"建物（任意）", autofocus: true, class: "input-field" %>
    <%= f.text_field :telephone_number, placeholder:"電話番号（必須）", autofocus: true, class: "input-field" %>
    <% if request.url.match(/new/) %>
      <%= f.submit "登録する" ,class:"button", onClick: "return confirm('登録してよろしいですか？');" %>
    <% else %>
      <%= f.submit "変更する" ,class:"button", onClick: "return confirm('変更してよろしいですか？');" %>
    <% end %>
    <%= link_to '前に戻る', :back, class: "back-button" %>
  </div>
<% end %>